<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal Finances</title>
</head>
<body>
    <div class="main-container">
        <h2>Enter Your Annual Income: <input class="annual-income"> </h2>
        </br>
        <div class="sub-container">
            <div class="sub-heading">
            Rent (25%): <input class="rent">
            </div>
            </br>
            <div class="sub-heading">
            Transportation (10%): <input class="transportation">
            </div>
            </br>
            <div class="sub-heading">
            Utilities (5%): <input class="utilities">
            </div>
            </br>    
            <div class="sub-heading">
            Food (10%): <input class="food">
            </div>
            </br>  
            <div class="sub-heading">
            Medical (5%): <input class="medical">
            </div>
            </br>
            <div class="sub-heading">
            Personal (5%): <input class="personal">
            </div>
            </br>            
        </div>
        </br>
        
    </div>
</body>
</html>