<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal Finances</title>
</head>
<body>
    <div class="main-container">
        <h2>Enter Your Annual Income: <input type = 'text' id="annual-income" onChange="" placeholder="Your Income"></h2>
        <h4>Based on your income, your monthly expenses per category should not exceed the following:</h4>
        </br>
        <div class="sub-container">
            <div class="sub-heading">
                Rent (25%): <h3 id="rent" ></h3>
            </div>
            </br>
            <div class="sub-heading">
                Transportation (7%):<h3 id="transportation"></h3>           
            </div>
            </br>
            <div class="sub-heading">
                Utilities (5%): <h3 id="utilities"></h3>             
            </div>
            </br>    
            <div class="sub-heading">
                Food (10%): <h3 id="food"></h3>
            </div>
            </br>  
            <div class="sub-heading">
                Medical (5%): <h3 id="medical"></h3> 
            </div>
            </br>
            <div class="sub-heading">
                Personal (5%): <h3 id="personal"></h3>
            </div>
            </br>   
            <button id="calculate-income" onClick=calcIncome()>Calculate</button>         
        </div>
        </br>
        
    </div>
<script>
function calcIncome() {
    var income = document.getElementById('annual-income').value;
    // Rent
    var rentNum = Math.floor((income * .25)/12);
    rent.innerText = rentNum;
    // Transportation
    var transportNum = Math.floor((income * .07)/12);
    transportation.innerText = transportNum;
    // Utilities
    var utilitiesNum = Math.floor((income * .05)/12);
    utilities.innerText = utilitiesNum;
    // Food
    var foodNum = Math.floor((income * .10)/12);
    food.innerText = foodNum;
    // Medical
    var medicalNum = Math.floor((income * .10)/12);
    medical.innerText = medicalNum;
    // Personal
    var personalNum = Math.floor((income * .05)/12);
    personal.innerText = personalNum;
}
</script>
</body>
</html>