<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Investing 101</h2>
    <div class="investing">What is Investing?</div>
        <div class="sub-investing">
        Investing is a way of creating or building wealth. In simple terms, Investopedia defines investing as, "The act of committing money or capital to an endeavor with the expectation of obtaining an additional income or profit." A very common misconception is that investing is reserved for the wealthy. In fact anyone can start investing. 
        </br>
        In the world of investing, it is really about working smarter rather than harder. When you work a stressful job, you can take part of your income and invest it into your future. In short, investing is about making priorities such as putting aside your hard-earned money rather than endulging in short term instant gratification. When you put aside money, you let that money work for you so that eventually you can enjoy the benefits of its growth.
        </div>
    <div class="investing">Common Forms of Investments</div>
        <div class="sub-investing">
        Stocks, bonds, mutual funds, ETFs, real estate are some common forms of investments. 
        </div>
    <div class="investing">Compound Investing</div>  
        <div class="sub-investing">
        Compound investing is the process of generating more return on a investment by reinvesting its earnings. 
        </br>
        Examples of compound investing: 
        (Source: Investopedia)
        Example #1: Apple stock
        </br>
        An investment of $10,000 in the stock of Apple (AAPL) that was made on December 31, 1980 would have grown to $2,709,248 as of the market’s close on February 28, 2017 according to Morningstar’s Advisor Workstation tool. This translates to an annual return of 16.75%, including the reinvestment of all dividends from the stock.
        </br>
        Apple started paying dividends in 2012. Even so, if those dividends hadn’t been reinvested the ending balance of this investment would have been $2,247,949 or 83% of the amount that you would have had by reinvesting.
        </br>
        While Apple of one of the most successful companies, and their stock is a winner year-in and year-out, compound interest also works for index funds, which which are managed to replicate the performance of a major market index such as the S&P 500.
        </br>
        </div>
    <div class="investing">Know Thyself, Know Thy-Investment</div>
        <div class="sub-investing"> 
        There is no one way of investing. In fact every investor has different reasons and approaches to investing. Investing is a matter of figuring out what your goals are before developing your investing strategy. You should also take into consideration your risk tolerance such how much money you are willing to lose. All types of investing incorporates some form of risk regardless so knowing much you are willing to lose is critical.
        </div>      
    <div class="investing">Types of Investments</div>
        <div class="sub-investing"> 
        Stocks

        Purchasing shares of stock is essentially purchasing a certain percentage of ownership in a company and having the opportunity to vote in issues pertaining to the sucess of the company. 

        Bonds

        Bonds are a form of debt that you can purchase in exchange for periodic payments in interest plus the original (face) value of the bond when it matures (reaches its agree upon date). Bonds are issued by companies, governments (city, state, and federal). 

        Mutual funds

        Mutual funds are investments that are pooled together by multiple investors and managed by an investment manager. The pooled investments are then invested into stocks, bonds, and other forms of investments. 

        ETFs

        ETFS (exchange traded funds) are very similar to mutual funds in that they include multiple types of investments. One of the biggest difference is that mutual funds are valued at the end of the trading day and any transactions are only executed when the market closes while ETFs are valued throughout the day as the market is open.

        
        </div>
    <div class="investing">Diversifying Your Investments</div>
        <div class="sub-investing">
        An investment portfolio should contain a variety of different assets from different arenas such as stocks, bonds, ETFs, etc. 
        </div>
        
</body>
</html>