<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resources</title>
</head>
<body>
    <div class="main-container">
        <h2>Resources</h2>
        </br>
        <div class="sub-container">
            <div class="sub-heading">
                <a href="http://www.investopedia.com/">Investopedia</a>
            </div>
            <div class="sub-description">
            The finance equivalent of Stack Overflow. Get all your information, news, and tips about finance & investing.
            </div>
        </div>
        </br>
        <div class="sub-container">
            <div class="sub-heading">
                <a href="https://www.mint.com/">Mint</a>
            </div>
            <div class="sub-description">
            Manage your money, pay your bills and track your credit score. It's free!
            </div>
        </div>
        </br>
        <div class="sub-container">
            <div class="sub-heading">
                <a href="https://www.robinhood.com/">Robinhood</a>
            </div>
            <div class="sub-description">
            Traditional stock trades cost an average of $8 per trade. With Robinhood you can trade without paying any fees.
            </div>
        </div>
        </br>
        <div class="sub-container">
            <div class="sub-heading">
                <a href="https://www.acorns.com/">Acorns</a>
            </div>
            <div class="sub-description">
            Invest your spare change with as little as $5.
            </div>
        </div>
        </br>
        <div class="sub-container">
            <div class="sub-heading">
                <a href="https://www.stashinvest.com/">Stash Invest</a>
            </div>
            <div class="sub-description">
            Investing Simplified. Become an investor with just $5 and learn as you go. 
            </div>
        </div>
        </br>        
        </div>
    </div>
</body>
</html>