/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Londrina+Solid');

// application.html.erb
h1 {
    font-size: 60px;
    margin-top: 15px;
    margin-left: 15px;
    font-family: 'Londrina Solid', cursive;
    color: purple;
}

li {
    display: inline-block;
    padding: 20px 110px;
}

.nav-bar {
    display: flex;
    font-size: 20px;
}  

.title-bar {
    background-color: #1E90FF;
    padding: 20px 80px;
}

// purchase.js.coffee

// purchases.js.coffee 
.title {
    font-size: 30px;
}

// purchase_form.js.coffee
.form-main {
    text-align: center;
    padding: 10px 5px;
}

// views/investing/index.html.erb
.main-container {
    margin-left: 100px;
    margin-right: 100px;
}
.sub-heading {
    font-weight: bold;
    font-size: 20px;
}


